body {
    background-color: red;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 37px;
}
a {
    text-decoration: none;
    font-size: 35px;
}
p {
    font-size: 23px;
}
img {
    display: block;
    width:  1600px;
    height: 700px;
}